Sphinx>=5.0.0
Pygments
alabaster
commonmark
cycler
docutils
recommonmark
wheel
sphinx-copybutton==0.4.0
sphinx-fontawesome
sphinx-notfound-page==0.8
sphinx-panels
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxemoji==0.2.0
Babel
Jinja2
MarkupSafe
Pillow
PyYAML==6.0.1
certifi
charset-normalizer
commonmark
cycler
docutils
fonttools
idna
imagesize
kiwisolver
latexcodec
matplotlib
numpy
imagesize
kiwisolver
latexcodec
matplotlib
numpy
