{\rtf1\ansi\ansicpg1252\cocoartf2513
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red27\green31\blue34;}
{\*\expandedcolortbl;;\cssrgb\c14118\c16078\c18039;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\sl340\partightenfactor0

\f0\fs23\fsmilli11900 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 .highlight * \{\
    color: black;\
    font-weight: normal;\
    font-style: normal;\
    background-color: transparent;\
\}\
}